body {
    background-image: url("imagenfondo-lol.jpg");
    margin: 0px;
    /* background-repeat: no-repeat;
    background-size: contain;
} */}

/* header{

} */

/* footer{
    background: #C4C4C4;
    mix-blend-mode: lighten;
    opacity: 0.4; 
} */
#imagenlogo {
    position: absolute;
    width: 830px;
    height: 300px;
    left: 300px;
    top: 10px; 
    /* background-image: url("imagentitulo-lol.png");    */
    /* max-width: 400px;
    max-height: 300px; */
    background-size: contain;
    

} 
@media screen and (max-widgit:700px) { 
   body{
        background-color:rgb( 195, 255, 127) ; 
}
}
