body {
    background-image: url("imagenfondo-lol.jpg");
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
}

/* Parte superior de la página */
header { 
    padding: 3.5vw; 
    width: 89vw;
    background: rgba(228, 221, 221, 0.5); 
    position: fixed;   
}
header::after{
    content: "";
    clear: both;
    display: block;
}
.botonimagen {
    max-width: 43vw;
    max-height: 20vh;
    margin-left: 20vw;  
} 
.menu-nav{
    top: 100%;
    right: 0.1vw; 
    position: absolute;
    background: #5e5e70;
    color: #fafeff;
    height: 0;
    overflow: hidden; 
    font-size: 18px;
    transition: transform .3s ease-in-out;
    transform: translate(110%);   
}
.mostrar{
    height: auto;
    transform: translate(0);
}
.menu-nav ul{
   margin:0;
   padding: 0;  
   list-style: none;
}
.menu-nav li{
    border-bottom: 1px solid #fffbff;
    padding: 2.5em 3.8em; 
}
.menu-nav li:hover,
.menu-nav li:focus{
    background: rgba(244, 247, 244, 0.5);
    color:#303131;
}
.menuhamburguesa{
    position:absolute;
    width: 40px;
    height: 40px;
    right: 2.5vw;
    top: 5vh;
} 

/* Cuerpo de la página */
.contiene {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: center;
}
p {
    font-family: 'Denk One', sans-serif;
    font-size: 25px;
    max-width: 90vw;
    max-height: 10vh;
    color: #e6d7d7;
    margin-top: 19vh;
}
 .imagenmapa {
    max-width: 90vw;
    max-height: 65vh;
    margin-top: 32vh; 
}

/* Parte inferior de la página */
 footer { 
    display: flex; 
    flex-direction: row-reverse; 
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5vw;
    background: rgba(228, 221, 221, 0.5);  
    margin-top: 8vh; 
}
.imagenriotgame{
    max-width: 30vw;
    max-height: 20vh;   
}
.imagenaviso{
    max-width: 23vw;
    max-height: 15vh;
    margin-top: 3vh;
}


@media screen and (min-width:768px) { 
    header { 
        padding: 1vw; 
        width: 95.2vw;
    }
   .botonimagen {
    max-width: 30vw;
    max-height: 30vh;
    margin-left: 33vw;
   }  
   .menuhamburguesa{
       display: none;
    }
    .botonhome{
        display: none;
    }
   .contiene {
    flex-direction: row; 
    justify-content: center; 
   } 
   p {
   font-size: 29px;
   max-width: 50vw;
   max-height: 20vh;
   }  
   .imagenaviso{
    margin-left: 5vh; 
   }  
   .imagenriotgame{
    max-width: 14vw;
    max-height: 8vh;     
   }
}
